<a name="cid1"></a>
Prev: [Introduction to Python](../01_intro_python/intro_python.ipynb) | [Table of Contents](../toc.ipynb) | Next: [Conditional Statements](../03_conditional_statements/s03_conditional_statements.ipynb)

<a name="cid2"></a>
# Data Types

This lesson starts with some advice on learning to program and then focuses on *data types*. Data types are an important concept in programming (not just in Python).

<a name="cid3"></a>
## I. Some Advice
Before we dive into data types, the mentor would like to give you some advice on learning to program.

Some concepts can be best explained by flipping the logic. What if you didn't care about learning to do useful stuff with Python? Then here is the mentor's top ten list on ensuring this course is a waste of your time.

1. Don't establish a routine for learning Python. Make sure at least two weeks elapse between sessions, so you can forget all of the old material before attempting anything new.
2. Assume comprehension is overrated - go ahead and speed-read the explanations and documentation.
3. If the code works, don't ask yourself why it worked this time and didn't work last time. Just move on.
4. Use copy and paste as much as you can. Don't practice the details of syntax by typing out code by hand.
5. Minimize mental effort. Immediately look up the answer to an exercise if the solution is not obvious.
6. Avoid reading official documentation like the plague.
7. Don't ever look at anyone else's code to see how they approached a problem.
8. Don't talk about concepts or exercises with other students or mentors. Assume you are on your own if you get stuck.
9. Don't try anything that's not mentioned in this course. Assume your computer will burst into flames if you do.
10. Don't be curious and never ask why.

<a name="cid4"></a>
## II. Some Prework
We need to review a few concepts before we dive into data types.
### A. Literals
We used a lot of literals in lesson 1. A literal is a number or string that appears in code. For example:
```python
# A couple literals
3                  # This is an integer literal
"Hey there!"        # This is a string literal.
print(my_variable)  # my_variable is not a literal (it's a variable).
```
### B. Function Arguments and Return Values
Remember how in lesson1 we used `print()` to make Python display things? Or how we used `round()` to round numbers to an integer? How about `len()` for finding out how many characters are in a string? `print()`, `round()`, and `len()`, are functions. We pass data to the function by placing literals or variables inside the parentheses that follow the function's name. The values that we pass to functions are called ***arguments***. 

```python
# An example function that takes two arguments
my_function("argument1", "argument2")
```

In addition to sending data to functions as arguments, we can also get data *from* functions. Check out the example below.

In [ ]:
# Returning a value from a function
title = "Farenheit 451"
num_chars = len(title)
num_chars

<a name="cid5"></a>
The `len()` function gave us a value, which we assigned to a variable. In programming we generally say that a function *returns* a value. The value that is returned is often called the *return value*. Not all functions have  return values.

<a name="cid6"></a>
## III. Basic Data Types and the `type()` Function
There is one more thing we need to do before we can start exploring data types. We need to add a new function to our repertoire: `type()`.

In [ ]:
# What happens if we pass an interger to type()?
type(5)

In [ ]:
# What if we pass a different integer?
type(-247)

<a name="cid7"></a>
### A. Integers
The `type()`function determines the data type of whatever value is placed in the parenthesis. For integers like 5 or -247, `type()` tells us that the value's data type is *int*, which is short for integer. Python integers can be positive or negative, and one of the great things about Python is that integers can be arbitrarily large. Their size is limited only by the amount of memory in your computer. I'll prove it. Run the next cell.

In [ ]:
365**365

<a name="cid8"></a>
Ha! Try that in *Excel*! Unless the answer to the problem you are trying to solve is *#NUM!*, you will be disappointed.

### B. Floats
What happens if we pass a real number, with digits to the right of the decimal point, to `type()`?

In [ ]:
# How about a number with digits to the right of the decimal point?
type(6.0221409)

<a name="cid9"></a>
The data type *float* refers to *floating point arithmetic*, which is the mechanism computers use to store non-integer numbers.

In [ ]:
# What data type is this?
type(5.0)

<a name="cid10"></a>
Python assumes that the `5.0` should be a float, even though it's equivalent to an integer from a mathematical perspective.

Floats can be written in scientific notation>

In [ ]:
G = 6.67408e-11
h = 6.62607004E-34
print("Gravity constant:", G)
print("Planck's constant:", h)

<a name="cid11"></a>
What happens if we mix data types in an equation?

In [ ]:
# Add integer to a float
int_5 = 5
float_5 = 5.0

print(int_5 + float_5)
type(int_5 + float_5)

<a name="cid12"></a>
Python has no trouble adding a float to an integer, but the result is a float. It makes sense if you think about it. The float could have a fractional part. If we added such a float to an integer and then converted the result to an integer, we would lose the fractional part of the sum. In general, Python will choose the data type that has greater precision. A float has more precision than an integer because it includes fractional values.

<a name="cid13"></a>
### C. Strings
By now, you can likely guess what will happen if we pass a string to `type()`.

In [ ]:
# Sending text to type()
type('Water Game')

<a name="cid14"></a>
No big surprise - the data type for strings is *str*.

What happens if we try to use a string in an equation?

In [ ]:
# Add integer to a string
int_6 = 6
str_6 = '6'

print(int_6 + str_6)
type(int_y + str_6)

<a name="cid15"></a>
Whoa. Python didn't like that at all. The `+` operation doesn't work with an integer and a string. There is a good reason. In this example our string represents a number. But a string could also be a word. What does `6 + robot` even mean?

It's for the best if Python just throws a type error. If you are trying to add 6 and '6', you are probably doing something you shouldn't be doing.

<a name="cid16"></a>
## IV. Type Conversions 
Each of these data types has its own built in function.
* `int()`
* `float()`
* `str()`

We will start with `int()`.

In [ ]:
# Converting a float to an integer
floatvar = 7.5
print(floatvar, ':', type(floatvar))
newvar = int(floatvar)
print(newvar, ':', type(newvar))

<a name="cid17"></a>
The `int()` function converts it's argument to an integer. Remember when we caused an error in the last session by trying to add an integer and a string? The `int()` function will let us do that, but with some limitations.

In [ ]:
# Adding an integer and a string.
13 + int('18')

<a name="cid18"></a>
If we pass the string `'18'` to `int()` then the addition proceeds just fine. The caveat is the string has to represent an integer, otherwise `int()` will throw an error.

In [ ]:
# Attempting to convert a string with non-digit characters causes a Value Error
int('18b')

In [ ]:
# Attempting to convert a number that is not an integer causes a Value Error
int('3.14')

In [ ]:
# Use float to convert non-integer numbers
5.5 + float('7.5')

<a name="cid19"></a>
Read the following line of code before you run it. What will it do? Then run the code to find out.

In [ ]:
# Read this and predict the result before you run it.
str(13) + "18"

<a name="cid20"></a>
1. The `str()` function converted the integer `13` to a string.
2. The `+` operator works just fine on two strings. But instead of performing mathematical addition, it performs *string concatenation*, which is a fancy way of saying it joins the two strings together.

<a name="cid21"></a>
### A. Exercises

#### 1. Teleop Power Cell Points
Check out the [quarterfinals match results](https://www.thebluealliance.com/match/2020wasno_qf2m1) from the 2020 Pacific Northwest district competition at Glacier Peak H.S. Snohomish, WA. In this game, which is called *Infinite Recharge*, teams score points by shooting power cells (i.e., yellow balls) into either the lower port, the outer port, or the small inner port. [Watch the match video](https://youtu.be/J3XYsLmXf0I) to see for yourself. Watch [this video for an overview of game rules.](https://youtu.be/gmiYWTmFRVE)

The game has two phases. During the first 15 seconds the robots are autonomous, meaning they are under computer control and humans are not allowed to touch the robot controls. The remainder of the match is the teleop period -- humans are allowed to control the robots during this period.

Inspect the [match results table.](https://www.thebluealliance.com/match/2020wasno_qf2m1) Figure out how many power cells were scored in the  lower, inner, and outer goals during the teleop phase for both the red and blue alliances. To find this, look for the *Teleop Power Cells* row in the table. Lower-port goals are marked by a rectangle, outer-port goals are marked by a hexagon, and inner-port goals are marked by a circle. Calculate the total number of teleop power cell points for each alliance using data you found in the match results table and the three variables below. You will have to convert the data types to complete the calculation. Save the results for each alliance to a variable.

In [ ]:
# Points for scoring power cells in teleop phase.
inner_port_points_tele = "3"
outer_port_points_tele = "2"
lower_port_points_tele = "1"

# Exercise Answer:

<a name="cid22"></a>
#### 2. Autonomous Power Cell Points
The rules for power cell points in the autonomous phase are the same as in teleop, except that the points are doubled. From the match results table, determine how many lower-port, outer-port, and inner-port goals were scored by both the red and blue alliance during the autonomous phase. Save the results for each alliance to a variable.

In [ ]:
# Exercise Answer:

<a name="cid23"></a>
#### 3. Displaying Results
Using the variables you created in the previous two exercises, concatenate strings and use print statements to generate the following output in Python, where u, v, x, and y are the point values calculated previously. There should be three `print()` statements, one for each row of output. Concatenate strings to generate each row. You will need to convert the integer point values to strings.

```bash
                Autonomous     Teleop
Blue Alliance:  u              v
Red Alliance:   x              y
```

In [ ]:
# Exercise Answer:

<a name="cid24"></a>
## V. Objects and Methods
Consider the following code cell.

In [ ]:
# Method Example
str1 = 'this text is upper case.'
str1.upper()

<a name="cid25"></a>
We appear to have converted the text in the `str1` variable to upper case. We used something that looks like a function `upper()` to do the conversion, but we used it differently than we use other functions. For example, if we want to know the length of a string, we just type the function name `len`, add some parentheses to it, and put the string variable inside the parenthesis, like so:

In [ ]:
# Get the length of a sting
len(str1)

<a name="cid26"></a>
So why don't we convert `str1` to upper case like this?
```Python
upper(str1)
```

First of all, trying to convert an integer or float to upper case makes no sense. Converting a variable to upper case only makes sense if the variable is a string. The designers of Python wanted `upper()` to only apply to strings, so they designed `upper()` as a **method**, not a function. Methods are different because they must be called on objects. In the case of the `upper()` method, we must have a string object before we can call it.

 

We will now take a short break from discussing methods so we can discuss objects. What's an object? Everything! Integers are objects. Strings are objects. Everything that can be assigned to a variable is an object. The concept of an object is different than the concept of a data type. Consider the following code cell:

In [ ]:
# Objects have unique IDs
var1 = 1318
var2 = 1318
print(type(var1))
print(type(var2))
print(id(var1))
print(id(var2))

<a name="cid27"></a>
Every object in Python is assigned a unique identification (ID) number. As an analyst, you will rarely, if ever, need to work with object ID numbers. Nevertheless, Python provides a built-in `id()` function that will return the ID number. Now consider the code above. We created two variables, each holding the same integer value. But we got two different ID values when we passed them to `id()`. This means Python created two different copies of *1318* in memory. 
* `var1` and `var2` are the same data type: int
* `var1` and `var2` have the same value: 1318
* But `var1` and `var2` are different objects, as indicated by the two different ID values.

Now back to methods. They key point is that we can't call a method without an object. We can call a function like `print()` all day long without an object (calling `print()` without parameters displays a blank line). But methods are different.

When we called `upper()`, we called it on a string object. In terms of syntax, we typed the string variable name, `str1`, typed a period, and then typed `upper()`. The `upper()` method converted it's object, `str1`, to upper case.

Methods can have return values just like functions do. The return value of the `.upper()` method is a string object that has been converted to upper case.

We can call methods on strings even if we haven't assigned them to a variable. See the next cell.

In [ ]:
# Calling methods on literal values
"robot".upper()

<a name="cid28"></a>
See below for more methods that can be called on strings. [The full list of string methods is in the Python documentation.](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)
* `lower()`
* `isdigit()`
* `isupper()`
* `as_integer_ratio()`

In [ ]:
# Convert to lower case
"DON'T SHOUT".lower()

In [ ]:
# Check that string only contains digits
"2003".isdigit()

In [ ]:
# Check that string is upper case
str2 = "DOH!"
str2.isupper()

In [ ]:
five = 5.5
five.as_integer_ratio()

<a name="cid29"></a>
### A. Method Exercises

#### 1. Binary Storage
Internally, computers store numbers as binary values. One is 0001, two is 0010, three is 0011, four is 0100, five is 0101, and so on ([note 1](data_types.ipynb#cid78).Each digit in binary requires one bit of storage. A bit is the lowest level of computer memory -- it can represent a value of 0 or 1. But that's it. With two bits, we can represent the integers 0 through 3. A fourth bit is required if we want to represent the numbers 4 through 7.

The integer data type has a method called [`bit_length()`](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) (scroll down a bit to find the documentation), which returns the number of bits required to represent a number. Use the method to determine how many bits are required to store the number 1318. (Forget about negative numbers for now.) Hint: first assign the number 1318 to a variable.

In [ ]:
# Exercise Answer:

<a name="cid30"></a>
#### 2. Eight Bits
Use the `bit_length()` method to determine the largest number that can be represented with eight bits. Again, assume that we only have to represent positive integers. You will have to do some guessing, or you could use the formula:
$$\textrm{bits} = \lfloor\log_2{(\textrm{integer})}\rfloor + 1$$

The $\lfloor \: \rfloor$ notation stands for *floor* and means to round down to the nearest integer. Don't worry if you are not familiar with logarithms. Guessing should work fine.

In [ ]:
# Exercise Answer:
2**16 - 1

<a name="cid31"></a>
#### 3. Title Case
Use the `.title()` method of the *str* data type to convert the following book titles to title case (first letter of each word capitalized). Print each title in title case using the `print()` function.

In [ ]:
# Exercise Data:
title1 = "the sirens of titen"
title2 = "THE HITCHHIKERS GUIDE TO THE GALAXY"
title3 = "tHE lEFTHAND oF dArKnEsS"

# Exercise Answer:

<a name="cid32"></a>
## VI. Lists - Our First Composite Data Type 
So far we've experimented with three data types: integers, floating point values, and strings. Integers and floats are *scalar* data types. Objects of these types consist of only a single number that cannot be broken down into smaller values (which is why they are sometimes called *atomic*). Strings, which consist of a sequence of characters, are not exactly scalar. We saw in the last session how we can use slicing to break strings up into smaller sequences of characters. Python strings are usually described as a sequence data type.

Doing calculations with individual strings and numbers is fine, but we need composite data types for more powerful calculations and analysis. A *composite data type* is a type whose objects can contain other objects. The first composite data type we'll study is the Python list.

In [ ]:
# A Python list
list1 = [1, 2, 3, 4, 5]
print("Length of list1:", len(list1))
print("First element of list1:", list1[0])

<a name="cid33"></a>
In the code block above, we created a list and assigned it to the `list1` variable. The list contains five integers. We can use the `len()` function to get the length of the list, and we can use the same indexing and slicing techniques that we used on strings to extract individual elements or subsets of the list. If it's been a while since you've worked through session 01, you might want to go back and review it.

In [ ]:
# List indexing and slicing techniques
print("Last element of list1:", list1[-1])
print("Middle three elements of list1:", list1[1:4])
print("List1 in reverse order:", list1[::-1])

<a name="cid34"></a>
What is the data type of list1?

In [ ]:
# Data Type of list1
print("list1 data type:", type(list1))
# Data type of an element of list1
print("Data type of list1 element:", type(list1[0]))

<a name="cid35"></a>
By using the `type()` function, we can see that the individual elements within the list retain their original data type, but the list object has a data type of list.

By the way, did you notice that we're using the `print()` function a bit differently? We're passing two arguments instead of one. The `print()` statement displays both arguments on the same line of output, separated by a space. We can pass as many arguments to `print()` as we want and it will display them all.

In our first example, every element in the list had the same data type. But that's not a requirement. A single list can contain many different data types.

In [ ]:
list2 = [1, "2", 3.0, "four", [5, "6"]]
list2

<a name="cid36"></a>
The `list2` object contains an integer, a couple strings, a float, and *another list*. Yes, lists can contain lists. A list contained within another list is called a nested list. It's not hard to access elements of the nested list:

In [ ]:
# First element of nested list
list2[4][0]

<a name="cid37"></a>
The `[-1]` after `list2` extracts the final element of `list2`, which is itself a list. The `[0]` extracts the first element of this nested list.

In [ ]:
list1.append(6)
list1

<a name="cid38"></a>
What happens if we append a list?

In [ ]:
# Passing a list to the append method
list3 = ["I", "ultimately", "got", "into", "robotics", "because", "for", "me", ","]
list4 = ["it", "was", "the", "best", "way", "to", "study", "intelligence", "."]
list3.append(list4)
list3

<a name="cid39"></a>
The `append()` method nested `list3` inside `list4`. That may or may not have been what we wanted. If we want to create a longer list with no nesting, we can just use the `+` operator.

In [ ]:
# Joining two lists with `+`
list3 = ["I", "ultimately", "got", "into", "robotics", "because", "for", "me", ","]
list4 = ["it", "was", "the", "best", "way", "to", "study", "intelligence", "."]
list3 + list4

<a name="cid40"></a>
By the way, the quote is by [Sebastian Thrun](https://en.wikipedia.org/wiki/Sebastian_Thrun), who is one of the founders of Google X and led Google's self-driving car project.

<a name="cid41"></a>
Another very useful method for lists is the `.pop()` method.

In [ ]:
# The .pop() method
print(list4.pop())
print(list4.pop())
print(list4.pop(0))

<a name="cid42"></a>
If called with no arguments, the `.pop()` method removed the last item from the list and returns it. Or we can pass an index value -- `.pop()` will remove and return the list element at that position.

<a name="cid43"></a>
Finally, an element can also be removed (i.e., deleted) from a list with the `del` keyword.

In [ ]:
del list1[0]
list1

<a name="cid44"></a>
A keyword  is a term that has special meaning in a programming language. Keywords cannot be used as variable names. In addition to deleting items from a list, `del` can delete entire variables.

In [ ]:
# Run this cell to delete the list1 variable.
del list1

In [ ]:
# Running this cell after deleting list 1 should cause an error.
list1

<a name="cid45"></a>
### A. List Exercises
Here are some list exercises.

Run the cell below to define the list `seasons`. Use `seasons` for the next two exercises.

In [ ]:
# Game names for FRC seasons 2011 through 2020
seasons = ["Logo Motion", "Rebound Rumble", "Ultimate Ascent", "Aerial Assist", "Recycle Rush",
"FIRST Stronghold", "FIRST Steamworks", "FIRST Power Up", "Destination: Deep Space",
"Infinite Recharge"]

<a name="cid46"></a>
#### 1. List Indexing
Use list indexing to display the four most recent seasons.

In [ ]:
# Exercise Answer:

<a name="cid47"></a>
#### 2. Skipping List Entries
Use list indexing to display every other season, starting with "Rebound Rumble".

In [ ]:
# Exercise Answer:

<a name="cid48"></a>
Run the cell below to define the nested list. Used `nested` for the next two exercises.

In [ ]:
nested = [[1, 2, 3], [4, 5, 6], ['a', 'b', 'c']]

<a name="cid49"></a>
#### 3. Multi-Dimensional Lists
Use indexing to access the 1st element of the third list (the 'a').

In [ ]:
# Exercise Answer:

<a name="cid50"></a>
#### 4. List Length
Use the `len()` function to determine the length of `nested`. What value is returned? Does it make sense? Why? (Write your answers to the questions as a comment.)

In [ ]:
# Exercise Answer:

<a name="cid51"></a>
#### 5. List Concatenation
What happens if you add the two lists (`seasons` and `nested`) together?

In [ ]:
# Exercise Answer: What does seasons + nested return?

<a name="cid52"></a>
#### 6. Appending to a List
Use the `.append()` method to add the next number in the series to the list.

In [ ]:
series = [1, 4, 27, 256]

In [ ]:
# Exercise Answer: Use append() method in this cell to add an element to series.

<a name="cid53"></a>
#### 7. Popping from a List
Use the `.pop()` method to extract the third element of the `seasons` list.

In [ ]:
# Exercise Answer:

<a name="cid54"></a>
## VII. The `input()` Function
Now that we know a bit about data types, we're ready to learn about the input function. Run the next cell.

In [ ]:
# Run this cell to learn about the input function

name = input("What is your name? ")
print("Hello ", name, ". It's nice to meet you!", sep="")

<a name="cid55"></a>
Similar to the `print()` function, the `input()` function displays whatever text is passed to it on the screen. It also displays a prompt and allows the user to type characters. As soon as the user presses ENTER, whatever text the user typed will be saved to the variable on the left side of the assignment statement (the equals sign).

Now look at the code in the next cell but don't run it yet. Will the code work? Why or why not? Check your answer by running the code.

In [ ]:
# Will this work?
num = input("Enter a number: ")
print("The square of", num, "is", num**2, "!")

<a name="cid56"></a>
The code didn't work because `input()` always returns a string and Python doesn't know how to square a string (I don't either). We can make this code better with the `int()` function.

In [ ]:
# This should work.
num = input("Enter a number: ")
num = int(num)
print("The square of", num, "is", num**2, "!")

<a name="cid57"></a>
Even this code will throw an error if the user enters text that is not an integer. We will learn how to check user input later on.

<a name="cid58"></a>
### A. Exercises with `input()`
#### 1. Get String Input
Use the `input()` function to ask the user for their name, and then display their name in reverse order.

In [ ]:
# Exercise Answer:

<a name="cid59"></a>
#### 2. Get Numeric Input
Use the `input()` function to ask the user for an integer and then print a message stating whether the number is even or odd. Don't forget to convert the input to an integer!

In [ ]:
# Exercise Answer:

<a name="cid60"></a>
#### 3. Apply the `input()` Function
The official documentation for `input()` [is here.](https://docs.python.org/3/library/functions.html#input) Make up your own exercise with the `input()` function. Ask the user for some information, do something with the information, and display the results to the user.

In [ ]:
# Exercise Answer:

<a name="cid61"></a>
## VIII. Python Tutorial
For some extra practice, try some of the examples from the *Python Tutorial*.

[Section 3.1.3](https://docs.python.org/3/tutorial/introduction.html#lists) covers lists.

In [ ]:
# Examples from Python Tutorial Section 3.1.3 on lists

<a name="cid62"></a>
[Section 5.2](https://docs.python.org/3/tutorial/datastructures.html#the-del-statement) covers the `del` keyword.

In [ ]:
# Practice with del keyword

<a name="cid63"></a>
## IX. More Exercises

<a name="cid64"></a>
#### 1. Tip Calculator

Below, you can see the script we wrote to compute the tip for a meal.  Fix it so that it works correctly. Expect the input to be a number. Please format the output to 2 decimal places. [For a hint on rounding, check here.](https://docs.python.org/3/library/functions.html#round)

In [ ]:
# Leave this cell alone.
price = input("Enter the price of a meal: ")

tip = price * 0.16
total = price + tip

print("A 16% tip would be:", tip)
print("The total including tip would be:", total)

In [ ]:
# Exercise Answer - Put the corrected code here:

<a name="cid65"></a>
#### 2. Upgraded Tip Calculator
Upgraded Tip Calculator: Modify the tip calculator program above so that it asks the user for the tip percentage after asking for the meal price. Use the tip percentage provided by the user to calculate the tip.

In [ ]:
# Exercise Answer:

<a name="cid66"></a>
#### 3. Gas Pump Informer
Write a script that prompts the user for a number of gallons of gasoline. Reprint that value, along with its conversion to other measurements:

- Equivalent number of liters (format to 4 decimals)
- Number of barrels of oil required to produce it (format to 3 decimals)
- Price in U.S. dollars (format to 2 decimals)

Use the conversions list to convert the values. For clarity, the conversion factors are listed below.

- 1 gallon is equivalent to 3.7854 liters.
- 1 barrel of oil produces 19.5 gallons of gas.
- The average price of gas is approximately $3.65 per gallon.

In [ ]:
conversions = [3.7854, 19.5, 3.65]
# Exercise Answer:

<a name="cid67"></a>
## X. Quiz to Check Your Knowledge
Write the answers as Python comments in the code cell below each question.

**#1.** What data type would be used for an object that stores the number 2.71828?

<a name="cid68"></a>
**#2.** What is the difference between a function and a method?

<a name="cid69"></a>
**#3.** What data type will result from the statement `2 + 2.0`?

<a name="cid70"></a>
**#4.** What index number is used to extract the first element from a list? The last element?

<a name="cid71"></a>
**#5.** What will the output be from the following code? Try to figure out the answer without running the code.
```Python
ex5_list = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(ex5_list[2:6]
```

<a name="cid72"></a>
**#6.** What is the difference between the `.pop()` method and the `del` keyword?

<a name="cid73"></a>
**#7.** What function will get an object's unique identifier code?

<a name="cid74"></a>
**#8.** Name at least two methods that can be used on a string object.

<a name="cid75"></a>
## XI. Save Your Work
Save your completed notebook to your Google drive and share it with a mentor or another student for feedback. [See Lesson 1 for more guidance.](../01_intro_python/intro_python.ipynb#cid70)

<a name="cid76"></a>
## XII. Concept and Terminology Review
You should be able to define the following terms or drescribe the concept. Re-review this session if any of these are unfamiliar.
* Return values
* Data types
* `type()` function
* Integers
* Floats
* Strings
* `int()` function
* `float()` function
* `str()` function
* Object
* Method
* `id()` function
* `.upper()` string method
* `.lower()` string method
* `.title()` string method
* Lists
* List indexing
* List slicing
* `append()` list method
* `.pop()` list method
* `del` keyword
* `len()` function
* `input()` function

<a name="cid77"></a>
## XIII. Data Type Humor

###  An integer walks up to a string and asks for its number.
The string replies, "Sorry, you're not my type."

###  Why can't integers swim?
Because they can't float.

###  I tried to explain what integers are...
It was pointless.

<a name="cid78"></a>
## XIV. Footnotes

#### 1. [Binary Storage Exercise](data_types.ipynb#cid29)
The descripton of binary numbers is a simplification of what's really going on, but it will do for now. For integer data types that can be both positive and negative, computers use a binary format called [two's complement.](https://en.wikipedia.org/wiki/Two%27s_complement) It's usually not necessary to understand this, but I included the link in case you are curious.

<a name="cid79"></a>
Prev: [Introduction to Python](../01_intro_python/intro_python.ipynb) | [Table of Contents](../toc.ipynb) | Next: [Conditional Statements](../03_conditional_statements/s03_conditional_statements.ipynb)